.header {
  height: 100px;
  background-color: black;
  color: white;
}
* {
  margin: 0;
  box-sizing: border-box;
}
.header h1 {
  margin-left: 30px;
  line-height: 100px;
}
.footer {
  height: 50px;
  background-color: black;
  color: white;
}
.footer h3 {
  line-height: 50px;
}
.content {
  height: 440px;
  border: 1px solid black;
}
table {
  margin-left: 350px;
  margin-top: 50px;
}
input[type="text"] {
  width: 300px;
  height: 35px;
  border-radius: 5px;
}
input[type="submit"] {
  height: 35px;
  width: 100px;
}

.buttons{
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
button{
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 10px;
}

button:hover{
  cursor: pointer;  
  position: relative;
  top: -2px;
  right: -2px;

}